.headerContainer {
    background: var(--white);
    height: 6.5rem;


    display: flex;
    align-items: center;

    padding: 2rem 4rem;

    border-bottom: 1px solid var(--gray-100);

    p {
        margin-left: 2rem;
        padding: 0.25rem 0 0.25rem 2rem;
        border-left: 1px solid var(--gray-100); // Isso criou aquela barrinha do lado da logo.
    }
    span {
        margin-left: auto; // Isso dá um preenchimento com todo espaço disponivel, isso que fez a data fica lá no canto direito da tela.
        text-transform:capitalize; // A primeira letra de toda palavra será maiúscula.

    }
}